@media screen and (max-width: 540px) {
    div.flex-container {
        padding: 0;
    }

    div.flex-sub-container {
        flex-direction: column-reverse;
    }

    #info {
        margin: auto;
        width: auto;
    }

    h2 {
        text-align: center;
    }

    hr {
        align-self: center;
        width: 95%;
    }

    p, li {
        margin: 1rem 0.5rem;
    }

    section {
        margin: 2rem 0.5rem;
    }

    div#quadro-direito section {
        margin-bottom: 0;
    }

    figure {
        width: auto;
    }

    main {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 356px) {
    h2 {
        font-size: 1.10rem;
    }
}